{
  "env": {
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "jsx": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "no-alert": 2,
    "no-console": 2,
    "no-multi-spaces": 2,
    "no-var": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"]
  }
}
